.container{
    display:flex;
    align-items: center;
    justify-content:center;
    &__titleMenu{
        box-sizing: border-box;
        padding-bottom: 25px;
        align-items: center;
    }
    &__container{
        box-sizing: border-box;
        padding: 50px;
        // border: 5px solid #ad0000;
        width: auto;
        height: auto;

    }
}

.icon{
    position: absolute;
    margin-left: -50px;
}
